<h1>Contact venant du site </h1>
<p>Entreprise {{ contact.entreprise }}</p>
<p>Nom : {{ contact.nom }}</p>
<p>Prenom : {{ contact.prenom }}</p>
<p>Email : {{ contact.email }}</p>
<p>Message : {{ contact.message|raw }}</p>